
<% include header %>

<% if(people!=null && people.length>0) { %>
		<div class="row" style="padding: 20px;">
		<% people.forEach(function(person) { %>
	        <div class="col-lg-4" style="margin-top: 40px;">
	 	   		<img class="img-circle" src="/user_uploads/<%= person.photo %>" alt="Generic placeholder image" width="300" height="250">
	          	<h3 class="clickableh2" id="<%= person.id %>" style="cursor:pointer; color:gray; text-align: center; margin-bottom: 0;"><%= person.name %>          	
	          	</h3>
	          	<span class="" id="<%= person.id %>" style="color:black; text-align: center; margin-top: 5px;">
		        	<%= person.link %>
		        	<br>
		        	<%= person.photolink %>
		        </span>
	        </div>
		<% });  %>    
		</div>
	<% } else { %>
		<h1>no users!</h1>
	<% } %>
</div>


</body>
</html>

<script type="text/javascript">
	var h2s = document.getElementsByClassName('clickableh2');

	Array.prototype.forEach.call(h2s, function(el) {
	   	// Do stuff here
		el.onclick=function(){
			window.location = "/users/viewprofile/"+el.id;
		}
	});
</script>

<style type="text/css">
	.row {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	  flex-wrap: wrap;
	}
	.row > [class*='col-'] {
	  display: flex;
	  flex-direction: column;
	}
	.clickableh2:hover {
		color: blue;
		text-decoration: underline;
	}
</style>