<% include header %>
	<div class="jumbotron" style="font-family: cursive; font-weight: bold;" >
		<div class="container">
			<h1 style="float: left; padding-top: 40px;">Hello, <%= user.name%>!</h1>
			<% if(user.profilephoto!=null && user.profilephoto!="") { %>
	 	   		<img class="img-circle" src="/user_uploads/<%= user.profilephoto %>" alt="Generic placeholder image" width="300" height="300" style="float: right; margin: 10px;">

			<% } else { %>
	 	   		<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="300" height="300" style="float: right; margin: 10px;">

			<% } %>
	 	   	<form id="uploadForm" enctype="multipart/form-data" method="POST" action="/users/updateProfilePhoto" style="margin-top: 150px;">
				<input type="file" class="form-control btn" name="userPhoto" style="margin-top: 4px; max-width: 400px;">
				<button type="submit" value="Upload Image" class="btn" style="margin: 10px;">Update profile photo</button>	
			</form>	
		</div>
			<form style="width: 400px;" method="post" action="/users/updateEmail">
	 	   		<input type="email" name="email" class="form-control" placeholder="ex: mohab@gmail.com" style="max-width: 250px;">
	 	   		<br>
	 	   		<input type="submit" class="btn" value="Update email" style=" position: relative;">
	 	   </form>
	 	   <br>
	 	   <br>
	 	   <form style="width: 400px;" method="post" action="/users/updatePhone">
	 	   		<input type="text" name="phone" class="form-control" placeholder="ex: 01064911012" style="max-width: 150px;">
	 	   		<br>
	 	   		<input type="submit" class="btn" value="Update phone" style=" position: relative;">
	 	   </form>
	 	   <br>
	 	   <br>
	 	   <form method="POST" action="/users/updateSummary">
	 	   	 	<div class="form-control" onkeyup="updatehidden()" style="min-width: 500px; min-height: 150px;" id='faketxt' contenteditable>
	 	   	 		<% if(user.summary!=null && user.summary!="") { %>
	 	   	 		<%= user.summary %>
	 	   	 		<% } else { %>
	 	   	 		<span style="color: gray; font-style: italic;">write a summary about yourself..</span>
	 	   	 		<% } %>
	 	   	 	</div>
	 	   	 	<textarea id="hiddentxt" style="display: none;" name="userDesc"></textarea>

				<button type="submit" class="btn" style="margin: 10px;">Update Summary</button>	
	 	   </form>

	 	   <br>

	 	   <form method="POST" action="/users/addTags">

		   	 	<% user.tags.forEach(function(tag) { %>
	 	   	 		<a style="margin: 5px;cursor:pointer; color:blue; text-align: center;" href="/users/searchShort/<%= tag %>">#<%= tag %></a>
	 	   	 	<% }); %>
	 	   	 	<br>
	 	   	 	<br>
	 	   	 	<input id="hiddentxt" class="form-control" name="tags" placeholder="php, java, development">

				<button type="submit" class="btn" style="margin: 10px;">Add Tags</button>	
	 	   </form>

    </div>

   	<div class="col-xs-8 col-lg-6" style="border: 2px solid grey;
    border-radius: 5px;">
    	<h3>Links</h3>
    	<table>
    		<tr>
	    		<div class="container">
	    		<ul>
	    			<%;
	    			user.links.forEach(function(link){ %>
	    			<div class="row">
	    				<li onclick="redirectToLink('<%= link.url %>')" style="padding: 5px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
	    					<span style="color:black; font-size: 30px; margin-right: 5px;">
	    						<%= link.name %>:
	    					</span>
	    					<span style="cursor:pointer; color:blue; font-size: 20px; text-decoration: underline;
	    					">
	    						<%= link.url %>
	    					</span>
	    					<form method="POST" action="/users/deletelink/<%= link.url %>">
				    			<button type="submit" class="btn" style="">Delete</button>
				    		</form>
	    				</li>
	    			</div>

	    			<% }); %>
	    		</ul>
		    		<form method="POST" action="/users/addlink">
		    			<input type="text" name="reponame" class="form-control" placeholder="repo name">
			    		<input type="text" name="newlink" class="form-control" placeholder="http://mywebsite.com">
			    		<button type="submit" class="btn" style="margin: 10px;">Add Link</button>	
		    		</form>
	    		</div>
    		</tr>
    	</table>
    	
    </div>

    <div class="col-xs-8 col-sm-6" style="border: 2px solid grey;
    	border-radius: 5px;">
    	<h3>Screenshots</h3>
    	<table>
    		<tr>
	    		<div class="container">
	    			<% user.photos.forEach(function(photo){ %>
	    			<div style="width: 100%;">
	    				<img style="max-width:100%; margin: 5px;" src="/user_uploads/<%= photo.src %>">
	    				<div style="display: ">
	    					<h5 style="text-overflow: ellipsis; max-width: 100%;white-space: nowrap;
	  						overflow: hidden; "><%= photo.name %>
	  							<form method="POST" action="/users/deletescreenshot/<%= photo.src %>" >
					    		<button type="submit" class="btn" style="float: right;">Delete</button>
					    	</form>
	  						</h5>
		    				
	    				</div>
	    				
				    	<br>
				    </div>
	    			<% }); %>
	    			<form id="uploadForm" enctype="multipart/form-data" method="POST" action="/users/addscreenshot" >
			    		<input type="text" class="form-control" name="photoName" placeholder="catpic">
						<input type="file" class="form-control btn" name="userPhoto" style="margin-top: 4px;">
			    		<button type="submit" value="Upload Image" class="btn" style="margin: 10px;">Add Screenshot</button>	
		    		</form>		    		
	    		</div>
    		</tr>
    	</table>
    </div>
		</div>
	</body>
</html>

<script type="text/javascript">
	var redirectSignIn = function() {
		window.location.href = '/users/signin'; 
	}
	var redirectToLink = function(link) {
		console.log(link);
		window.open(link,'_blank');
	}
	var updatehidden = function() {
		document.getElementById('hiddentxt').innerText = document.getElementById('faketxt').innerText;
	}
</script>