<% include header %>
	
		<% if(users!=null && users.length>0) {
			users.forEach(function(user) {
				if(user!=null) { %>
					<div class="col-lg-4" style="margin-top: 40px;">
			 	   		<img class="img-circle" src="/user_uploads/<%= user.profilephoto %>" alt="Generic placeholder image" width="300" height="250">
			          	<h3 class="clickableh3" id="<%= user.id %>" style="cursor:pointer; color:gray; text-align: center; margin-bottom: 0;">
			          		<%= user.name %>          	
			          	</h3>
			        </div>
			<% 	}
			});
		} else { %>
			<h1>Sorry, no users found!</h1>
		<% } %>
		</div>
	</body>
</html>

<script type="text/javascript">
	var h3s = document.getElementsByClassName('clickableh3');

	Array.prototype.forEach.call(h3s, function(el) {
		el.onclick=function(){
			window.location = "/users/viewprofile/"+el.id;
		}
	});
</script>