
<% include header %>


	<div class="jumbotron" >
 	   <div class="intro" style="display: flex; width: 100%; min-height: 250px;">
	 	   <div>
	 	   		<h1>This is <%= dude.name%>!</h1>
	 	   		<span>Username: <%= dude.username%></span>
	 	   		<br>
		 	   	<span>Email: <%= dude.email%></span>
		 	   	<br>
		 	   	<span>Phone: <%= dude.phone %></span>
		 	   	<br>
		 	   	<span>Summary:
		 	   		<p><%dude.summary%></p>
		 	   	</span>
	 	   </div>
	 	   	
	 	   <% if(user.profilephoto!=null && user.profilephoto!="") { %>
	 	   		<img class="img-circle" src="/user_uploads/<%= user.profilephoto %>" alt="Generic placeholder image" width="300" height="300" style="float: right; margin: 10px;position: fixed;">

			<% } else { %>
	 	   		<img class="img-circle" src="/user_uploads/koushi-1487686809628.jpg" alt="Generic placeholder image" width="250" height="250" style="  margin-left: 50%;position: absolute;">

			<% } %>
 	   </div>
 	   <br>
 	   <p>
        	<%= dude.summarry %>
        </p>
    
    <% if(dude.id.toString()==user.id){ %>
    <form method="GET" action="/users/profile/<%= user.id %>" style="float: left;">
		<button type="submit" value="editprofile" class="btn" style="margin: 10px;">Edit profile </button>	
	</form>
		<% if(dude.portifolio!="true") { %>
			<!-- <form method="GET" action="/users/makeportifolio/<%= user.id %>" style="float: left;">
				<button type="submit" value="makeportifolio" class="btn" style="margin: 10px;">Make Portifolio!</button>	
			</form> -->
			<div style="padding:5px; margin-left: 220px;">
				<span style="font-style: italic; font-size: 30px; color: red; font-weight: bold; font-family: sans-serif;">
					Note:
				</span>
				<span>
					You have to add at least one link/screenshot to have a portifolio!
				</span>
			</div>
		<% } %>
    <% } %>
    </div>
   	<div class="col-xs-8 col-sm-6" style="border: 2px solid grey;
    border-radius: 5px;  max-width: 45%; margin-right: 5%">
    	<h3>Links</h3>
    	<br>
    	<table>
    		<tr>
	    		<div class="container">
	    		<ul>
	    			<%;
	    			dude.links.forEach(function(link){ %>
	    				<div class="row">
	    				<li onclick="redirectToLink('<%= link.url %>')" style="padding: 5px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">
	    					<span style="color:black; font-size: 30px; margin-right: 5px;">
	    						<%= link.name %>:
	    					</span>
	    					<span style="cursor:pointer; color:blue; font-size: 20px; text-decoration: underline;">
	    						<%= link.url %>
	    					</span>
	    				</li>
	    			</div>
	    			<% }); %>
	    		</ul>
		    		
	    		</div>
    		</tr>
    	</table>
    	
    </div>

       	<div class="col-xs-8 col-sm-6" style="border: 2px solid grey;
    border-radius: 5px; max-width: 45%;">
    	<h3>Screenshots</h3>
    	<br>
    	<table>
    		<tr>
	    		<div class="container" >
	    			<% dude.photos.forEach(function(photo){ %>
	    				<img style="max-width:400px; margin: 5px;" src="/user_uploads/<%= photo.src %>">
	    				<h5 style="text-overflow: ellipsis; max-width: 200px;white-space: nowrap;
  						overflow: hidden; "><%= photo.name %></h5>
	    				
	    			<% }); %>
	    					    		
	    		</div>
    		</tr>
    	</table>
    </div>
</div>

	</body>
</html>

<script type="text/javascript">
	var redirectSignIn = function() {
		window.location.href = '/users/signin'; 
	}
	var redirectToLink = function(link) {
		console.log(link);
		window.open(link,'_blank');
	}
</script>